<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Bookings</title>
    <link rel="stylesheet" href="../profile.css">
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <%if session[:user]%>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button formaction="/">LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">
    <span class="profile-box-links">
    <p class="selected">Bookings</p>
    <a href="/profile/lettings">Lettings</a>
    <a href="#">Spaces</a>
    </span>
    <hr class="box-line">
    <h1 class="current-header">MY BOOKINGS</h1>
    <div class="objects-in-list">
    <% if @orders.empty? %>
    <h3 class="no-info">No bookings to show yet!</h3>
    <% else%>
    <% @orders.each do |order|%>
    <% space = Space.find(space_id: order.space_id)%>
    <div class="order">
      <span class="image">
        <img class="space-img" src="<%= order.image%>">
      </span>
      <span class="headline">
        <%= space.headline%>
      </span>
      <span class="dates">
      <%=order.booking_start.day.to_s.rjust(2, "0")%>/<%=order.booking_start.month.to_s.rjust(2, "0")%>/<%=order.booking_start.year % 2000%> - <%=order.booking_end.day.to_s.rjust(2, "0")%>/<%=order.booking_end.month.to_s.rjust(2, "0")%>/<%=order.booking_end.year % 2000%>
      </span>
      <div class="status">
      <%if order.confirmed%>
      CONFIRMED
      <%else%>
      UNCONFIRMED
      <%end%>
      </div>
      <button>VIEW</button>
    </div>
    <%end%>
    <%end%>
    </div>
    </div>
    </div>
  </body>
  </html>
