<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Lettings</title>
    <link rel="stylesheet" href="../profile.css">
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <%if session[:user]%>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button formaction="/">LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">
    <span class="profile-box-links">
        <a href="/profile">Bookings</a>
        <p class="selected">Lettings</p>
        <a href="#">Spaces</a>
    </span>
    <hr class="box-line">
    <h1 class="current-header">MY LETTINGS</h1>
    <div class="objects-in-list">
    <%if @lettings.empty?%>
    <h3 class="no-info">No lettings to show yet!</h3>
    <% else%>
    <% @lettings.each do |letting|%>
    <% space = Space.find(space_id: letting.space_id)%>
    <div class="order">
    <span class="image">
        <img class="space-img" src="<%= space.image%>">
      </span>
      <span class="headline">
        <%= space.headline%>
      </span>
       <span class="dates">
      <%=letting.booking_start.day.to_s.rjust(2, "0")%>/<%=letting.booking_start.month.to_s.rjust(2, "0")%>/<%=letting.booking_start.year % 2000%> - <%=letting.booking_end.day.to_s.rjust(2, "0")%>/<%=letting.booking_end.month.to_s.rjust(2, "0")%>/<%=letting.booking_end.year % 2000%>
      </span>
       <div class="status">
      <%if letting.confirmed%>
      CONFIRMED
      <%else%>
      <span class="confirmation-buttons">
      <form>
      <button formaction="/profile/lettings/<%= letting.order_id %>/reject">REJECT</button>
      <button formaction="/profile/lettings/<%= letting.order_id %>/confirm">CONFIRM</button>
      </form>
      </span>
      <%end%>
      </div>
    </div>

    <%end%>
    <%end%>
    </div>
  </body>
  </html>
