<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Inbox</title>
    <link rel="stylesheet" href="../../profile.css">
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <%if session[:user]%>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button formaction="/">LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="profile-box-links">
      <a class="log-in-selector" href='/messages/<%= session[:user].user_id %>/inbox'>INBOX</a>
      <a class="log-in-selector" href='/messages/<%= session[:user].user_id %>/outbox'>OUTBOX</a>
      <a class="log-in-selector" href='/messages/<%= session[:user].user_id %>/new'>NEW MESSAGE</a>
      
      </div>
      <hr class="box-line">
      <% if @inbox.empty? %>
        <h3 class="no-listings">NOTHING IN YOUR INBOX!</h3>
      <% else%>
        <% @inbox.each do |message|%>
        <div class="order">
          <div class="image">
            User: <%=User.get_username_by_id(user_id: message.user_id_from)%>
          </div>
          <br>
          <span class="price">
            SENT AT:<%= message.time.strftime("%Y/%m/%d %H:%M:%S")%>
          </span>
        <div class="bottom-of-space">
          <span class="description">
          <br>
            <%=message.content%>
            </span>
        </div>
      </div>
    <%end%>
  <%end%>
  </div>
 
  </body>
  </html>
