<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Outbox</title>
    <link rel="stylesheet" href="../spaces.css">
    <script src="../scripts/nav-bar.js"></script>
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <%if session[:user]%>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button formaction="/">LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">
      <a class="log-in-selector" href='/messages/<%= session[:user].user_id %>/inbox'>INBOX</a>
      <a class="sign-up-selector" href='/messages/<%= session[:user].user_id %>/outbox'>OUTBOX</a>
      <% if @outbox.empty? %>
        <h3 class="no-listings">NOTHING IN YOUR OUTBOX!</h3>
      <% else%>
        <% @outbox.each do |message|%>
        <div class="space">
          <span class="image">
            "<%=User.get_username_by_id(user_id: message.user_id_to)%>"
          </span>
        <div class="top-of-space">
          <span class="price">
            SENT AT:<%= message.time.strftime("%Y/%m/%d %H:%M:%S")%>
          </span>
      </div>
      <br>
      <br>
      <br>
        <div class="bottom-of-space">
          <span class="description">
            <%=message.content%>
            </span>
        </div>
      </div>
    <%end%>
  <%end%>
  </div>
  <form>
    <button formaction="/messages/<%= session[:user].user_id %>/inbox">MESSAGES</button>
    <button formaction="/messages/<%= session[:user].user_id %>/new">NEW MESSAGE</button>
  </form>
  </body>
  </html>
